*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , sans serif;
    
}
body{
    background-color: black;
}
nav{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 120px 0 126px ;
}
img{
    width: 583px;
    height: 374px;
}
main {
    display: flex;
    flex-direction: column;
    width: 750px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
h2{
    color:#FFFFFF;
    font-size: 32px;
    line-height: auto;
    width: 300px;
    height: 20px;
    font-weight: 300;
}
.inputs{
    display: flex;
}
.min-input,
.max-input {
    width: 342px;
    height: 74px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    line-height: 74px;
    padding-left: 15px;
    font-size: 40px ;
    line-height: 47px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    
    
}
.max-input{
    margin-left: 62px;
}
button{
    width: 342px;
    height: 72px;
    color:#FFFFFF;
    background-color:#AEC346 ;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius:10px ;
    font-size: 36px;
    line-height: 2.5px;
    font-weight: 700;

}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity:0.7;
}



/*WEBKITS
sao os pseudo-elementos padrao do navegador
 como as setinhas do input number
  colocando como -webkit-apperance: none, eu finalmente tiro elas


*/